body{
    font: Roboto;
    background-color: white;
}


div{
    width: 100%;
    height: 500px;
}

#Name img{

    float: left;
    height: 100px;
    width: 100px;

}


#Data img{




}

h1{
    font-size: 350%;
    color: black;
    position: relative;
    padding-left: 10px;

}

p{
    color: black;
}