<!DOCTYPE html>
<htmL>

<head>

    <link rel="stylesheet" type="text/css" href="CryptoStyleETH.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>
        BitBite
    </title>
</head>

<body style="background:#1e2228; color: gainsboro;">
<img class="ethico" src = "Ethereum.png">

<div class = "title">
    Ethereum
</div>

<div v-cloak v-for="coin in coins">
  <span v-if="coin.name == 'Ethereum'">
    <div class="DataTitle"> {{ coin.price_usd | currency }}</div>
  </span>
  <canvas id="Bitfinex"></canvas>
  
</div>
<div class="DataTitle">
    Summary
</div>
<p class="info">Ethereum is a type of online currency similar to how bitcoin works. Ethereum is the second largest cryptocurrency in the world. Ethereum transactions are mostly stored on the blockchain, which can monitor their balance. </p>
<div class="DataTitle">
    Pros And Cons
</div>
<p class="info">Pros</p>
<ul>
    <li>Ethereum provides secure security within the cryptocurrency. </li>
    <li>Ethereum is easy to use and create.</li>
    <li>Ethereum saves money and time.</li>
</ul>
<p class="info">Cons</p>
<ul>
    <li>Blockchain controls Ethereum</li>
    <li>Ethereum has competitors such as EOS and WAVES</li>
    <li>You can&rsquo;t improve the service of the blockchain that controls Ethereum.</li>
</ul>


<div class="DataTitle">
    Analysis
</div>
<p class="info">Ethereum system is similar to bitcoin. Ethereum can be used to build financial applications that are trustworthy because they are runned on the block chain. Online cryptocurrency is used to secure and manage property, contracts and social networking systems. Ethereum allows us to control our own data. </p>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
<script src="https://github.com/nagix/chartjs-plugin-streaming/releases/download/v1.1.0/chartjs-plugin-streaming.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.1.0/pusher.js"></script>
<script src="js/vue2-filters.min.js"></script>
<script src="js/app.js"></script>

<script>
  var ws = new WebSocket('wss://api.bitfinex.com/ws/');
  ws.onopen = function() {
    ws.send(JSON.stringify({      // send subscribe request
        "event": "subscribe",
        "channel": "trades",
        "pair": "BTCUSD"
    }));
  };
  ws.onmessage = function(msg) {     // callback on message receipt
    var response = JSON.parse(msg.data);
    if (response[1] === 'te') {    // Only 'te' message type is needed
        buf['Bitfinex'][response[5] > 0 ? 0 : 1].push({
            x: response[3] * 1000, // timestamp in milliseconds
            y: response[4]         // price in US dollar
        });
    }
  }
  
  var id = 'Bitfinex';
  var ctx = document.getElementById(id).getContext('2d');
  var chart = new Chart(ctx, {
      type: 'line',
      data: {
          datasets: [{
              data: [],
              label: 'Buy',                     // 'buy' price data
              borderColor: 'rgb(255, 99, 132)', // line color
              backgroundColor: 'rgba(255, 99, 132, 0.5)', // fill color
              fill: false,                      // no fill
              lineTension: 0                    // straight line
          }, {
              data: [],
              label: 'Sell',                    // 'sell' price data
              borderColor: 'rgb(54, 162, 235)', // line color
              backgroundColor: 'rgba(54, 162, 235, 0.5)', // fill color
              fill: false,                      // no fill
              lineTension: 0                    // straight line
          }]
      },
      options: {
          title: {
              text: 'BTC/USD (' + id + ')', // chart title
              display: true
          },
          scales: {
              xAxes: [{
                  type: 'realtime' // auto-scroll on X axis
              }]
          },
          plugins: {
              streaming: {
                  duration: 300000, // display data for the latest 300000ms (5 mins)
                  onRefresh: function(chart) { // callback on chart update interval
                      Array.prototype.push.apply(
                          chart.data.datasets[0].data, buf[id][0]
                      );            // add 'buy' price data to chart
                      Array.prototype.push.apply(
                          chart.data.datasets[1].data, buf[id][1]
                      );            // add 'sell' price data to chart
                      buf[id] = [[], []]; // clear buffer
                  }
              }
          }
      }
  });

</script>

</body>

</html>