body{
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
    background: #0088FF;
}

.MainTitle{
    font-weight: 300;
    font-size: 56px;
    color: #f3f8f4;
    text-align: center;
    margin-top: 3%;
    text-align: center;
}
.CryptoInfo{
    font-size: 30px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 7%;
}

.CryptoButton {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 0.2em;
    color: #0088FF;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-align: center;
}
.CryptoButton:hover{
    background-color: #0088FF;
    color: white;
}

.bitcoinimg{
    max-width: 22vh;
    float:left;
}
.pricetxtbit{
    font-size: 8vmin;
    margin-top: 6vh;
    margin-left: 10vw;
    color: white;
}

.img-responsive {
    margin: 0 auto !important;
}
.ethimg{
    clear: both;
    float: right;
    max-width: 22vh;
}
.pricetxteth{
    float: right;
    font-size: 8vmin;
    margin-top: 7.5vh;
    color: white;
}
.ripimg{
    clear: both;
    float: left;
    max-width: 22vh;
}
.pricetxtrip{
    font-size: 8vmin;
    margin-top: 6vh;
    float: left;
    color: white;
}

.bullets{
    font-size: 4vmin;
}