body{
    font-family: 'Work Sans', 'sans-serif';
    font-weight: 400;
    font-size: 24px;
    background: rgb(0, 136, 255);
}

.MainTitle{
    font-weight: 300;
    font-size: 56px;
    color: white;
    text-align: center;
    margin-top: 3%;
}
.CryptoInfo{
    font-size: 30px;
    color: white;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 7%;
}

.CryptoButton {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 0.2em;
    color: #0088FF;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.CryptoButton:hover{
    background-color: #0088FF;
    color: white;
}

.MMtext{
    font-size: 3vw;
    font-weight: 500;
    color: white;
}
