.jumbotron {
    background-color: #fff;
}

.section-blue{
    background-color: #25a8e0;
}
p{
    color: #fff;
}

h2{
    text-align:center;
    font-style: Stencil-std;
    background-color: #fff;
    border-style: hidden;
    padding: 7.8%;
    font-size: 150%;
    border-color: #fff;
}
h3{
    text-align:center;
    font-style: Stencil-std;
    background-color: #fff;
    border-style: hidden;
    padding: 7.8%;
    font-size: 150%;
    border-color: #fff;
}
h4{
    text-align:center;
    font-style: Stencil-std;
    background-color: #fff;
    border-style: hidden;
    padding: 7.8%;
    font-size: 150%;
    border-color: #fff;
}


a {
    color: #fff !important;
}